doctype html
html
  head
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/header.css")
    link(rel="stylesheet" href="/css/user.css")

  body
    include include/header.pug